@using System.Web.Configuration
@{
    ViewBag.Title = "目录名形式的版本号";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    var CDNVersion = @WebConfigurationManager.AppSettings["CDNVersion"];
    var index = 1;
}
@section Styles {
    <link rel="stylesheet" href="@Url.Content(String.Format("~/Content/{0}/css/bootstrap.css", CDNVersion))">
    <link rel="stylesheet" href="@Url.Content(String.Format("~/Content/{0}/css/site.css",CDNVersion))">
}
<h3>目录名形式的版本号</h3>
<h4>@Html.Raw(index++)<text>.配置</text></h4>
<p>在Web.config文件中appSetting路径下添加版本配置。</p>
<pre>
&lt;key="CDNVersion" value="20160202" /&gt;
</pre>
<h4>@Html.Raw(index++)<text>.页面中引用的文件添加版本号</text></h4>
<p>读取配置中的版本号，引用静态文件时拼接到路径中。</p>
<pre>
@@using System.Web.Configuration
@@{
    var CDNVersion = @@WebConfigurationManager.AppSettings["CDNVersion"];
}
&lt;link rel="stylesheet" href="@@Url.Content(String.Format("~/Content/{0}/css/site.css",CDNVersion))"&gt;
</pre>
<p>具体代码见Views/Home/Directory.cshtml文件</p>
<h4>@Html.Raw(index++)<text>.js中获取版本号</text></h4>
<p>将配置中的版本号输出到js变量中，在js中加载js，css，image等文件时拼接到路径中。</p>
<pre>
&lt;script&gt;
  var CDNVersion = "@@CDNVersion";
&lt;/script&gt;
</pre>
<h4>@Html.Raw(index++)<text>.css中引用的图片</text></h4>
<p>使用相对路径即可。</p>
<pre>
.test {
    background-image: url('../img/logo.png');
}
</pre>
<script>
    var CDNVersion = "@CDNVersion";
</script>