@using System.Web.Configuration
@{
    ViewBag.Title = "查询参数形式版的本号";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    var CDNVersion = @WebConfigurationManager.AppSettings["CDNVersion"];
    var index = 1;
}
@section Styles {
    <!--查询参数形式版本号-->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")?CV=@CDNVersion">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.css")?CV=@CDNVersion">
}
<h3>查询参数形式版的本号</h3>
<p>点击<a href="javascript:;" onclick="location.href = 'view-source:'+location.href">查看源码</a>查看添加版本号效果</p>
<h4>@Html.Raw(index++)<text>.配置</text></h4>
<p>在Web.config文件中appSettings路径下添加版本配置。</p>
<pre>
&lt;key="CDNVersion" value="20160202" /&gt;
</pre>
<h4>@Html.Raw(index++)<text>.页面中引用的文件添加版本号</text></h4>
<p>读取配中的版本号，引用静态文件时拼接到查询参数。</p>
<pre>
@@using System.Web.Configuration
@@{
    var CDNVersion = @@WebConfigurationManager.AppSettings["CDNVersion"];
}
&lt;link rel="stylesheet" href="@@Url.Content("~/Content/site.css")?CV=@@CDNVersion"&gt;
</pre>
<p>具体代码见Views/Home/QueryString.cshtml文件。</p>
<h4>@Html.Raw(index++)<text>.js中获取版本号</text></h4>
<p>将配置中的版本号输出到js变量中，在js中加载js，css，image等文件时拼接到查询参数即可。</p>
<pre>
&lt;script&gt;
  var CDNVersion = "@@CDNVersion";
&lt;/script&gt;
</pre>
<h4>@Html.Raw(index++)<text>.css中引用的图片添加版本号</text></h4>
<p>使用scss定义function实现，VS安装WEB ESSENTIALS可实现保存时自动编译为css(可网上搜索Grant或Gulp解决方案替代)。</p>
<pre>
$CDNVersion: "20160202";
@@function img-url($img, $path: "../img") {
    @@return url(#{$path}/#{$img}?CV=#{$CDNVersion});
}
.test {
    background-image: img-url("logo.png");
}
</pre>
<p>具体代码见Content/css/Site.scss，结果见<a href="@Url.Content("~/Content/css/Site.css")">Content/css/Site.css</a>。</p>
<script>
    var CDNVersion = "@CDNVersion";
</script>